<dom-module id="cells-jesus-guzman-vitte-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  position: relative;
  --heading-height: 28px;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-jesus-guzman-vitte-login; }

</style></template></dom-module>