@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  position: relative;
  --heading-height: 28px;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-jesus-guzman-vitte-login;
}
