<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-jesus-guzman-vitte-login-styles.html">
<link rel="import" href="../cells-basic-login/cells-basic-login.html">
<dom-module id="cells-jesus-guzman-vitte-login">
  <script src="cells-jesus-guzman-vitte-login.js"></script>
</dom-module>